@font-face {
    font-family: 'FE';
    src: url('assets/FE.otf');
}

* {
    font-family: 'FE';
}

.arrow {
    position: absolute;
    background-image: url("./assets/arrow.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.slash {
    position: absolute;
    background-image: url("./assets/slash.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

#window {
    padding: 1rem;
}

#controls {
    margin-bottom: 1rem;
}

.chrom {
    background-image: url('assets/chrom.png');
}

.lucina {
    background-image: url('assets/lucina.png');
}

.frederick {
    background-image: url('assets/frederick.png');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#game-area {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 15px;
    height: 544px;
    width: 896px;
    background-image: url("assets/titleScreen.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.flipped {
    transform: scaleX(-1);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

#characters {
    background-image: url("assets/textBox.png");
    padding: 5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#character-area {
    display: flex;
    justify-content: space-evenly;
}

.portrait {
    width: 80%;
    border: 3px solid black;
    background-color: slategray;
    border-radius: 15px;
}

.selected {
    border: 3px solid white;
}

#behind {
    padding: 2rem;
    background-image: url("assets/largeTextBox.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#startup img {
    width: 100%;
}

#game-status {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 308px;
    height: 155px;
    background-image: url("assets/textBox.png");
}

.enemy, .player {
    background-position: 0px 0px;
    position: absolute;
    display: inline-block;
    background-size: auto auto;
    height: 50px;
    width: 50px;
}

.hide {
    visibility: hidden;
}

.soldier {
    background-image: url('assets/enemy1.png');
}

.assassin {
    background-image: url('assets/enemy2.png');
}

.heavy {
    background-image: url('assets/enemy3.png');
}

.knight {
    background-image: url('assets/enemy4.png');
}

.archer {
    background-image: url('assets/enemy5.png');
}

.health {
    top: -15px;
    display: inline-block;
    position: absolute;
}

.enemy progress {
    background: crimson;
}

.player progress {
    background: green;
}

progress {
    border: 2px solid black;
    border-radius: 15px;
    width: 50px;
    height: 10px;
    color: lightblue;
}

progress::-webkit-progress-value {
    background: lightblue;
}

progress::-moz-progress-bar {
    background: lightcolor;
}

progress::-webkit-progress-value {
    background: red;
}

.player progress::-webkit-progress-value {
    background: green;
}

progress::-webkit-progress-bar {
    background: gray;
}

.obstacle {
    position: absolute;
    /* background-color: blue; */
}